[2016-06-22 01:25] cpgo opened #1 "Node missing"
I suggest adding nodejs by default on this image since Laravel comes with Elixir pre installed for its asset build process.

[2016-06-30 22:33] #1 closed

[2016-09-02 21:19] raisiqueira opened #12 "how to connect to my database?"
I am testing a laravel application, and I'm pointing my mysql host to localhost, but does not connect. where should I put it?

[2016-09-05 08:53] alexandernst commented on #12
Do you mean that the provided docker config in this repo doesn't work for you? Or are you testing something else? If the second, please post your docker files.

[2016-10-11 01:13] cristiancmello opened #16 "how to install phpmyadmin"
How to install phpMyAdmin to use with MariaDB and get access to browser (eg '/phpmyadmin', Codenvy)?

[2016-10-11 23:30] alexandernst commented on #16
Hi!

This docker is intended for laravel development, and because of that it's not using a (what you'd call) "real" web server (like NGINX or Apache), but laravel's built-in web server. Because of that, installing phpMyAdmin won't be that easy.

Anyways, if you're brave enough, my take on that would be:

1. Run the docker
2. SSH into it and install NGINX (`apt-get install nginx`)
3. `wget/curl` la

[2016-10-11 23:48] cristiancmello commented on #16
Thanks for answer! I'll try what you suggested. I really enjoyed this Bitnami's container.

[2016-10-11 23:48] #16 closed

[2016-10-26 02:11] johngerome opened #25 "laravel:latest should point to laravel's latest distribution"
For the **latest** tag, Instead of pointing to `create-project "laravel/laravel=5.2.31"` why not use `create-project --prefer-dist laravel/laravel` ? then make a tag for specific laravel version.

[2016-11-24 07:02] HalfEatenPie opened #30 "Codenvy Provisioning Error"
Error within the docker agent is shown when used within Codenvy.  This issue is limited to this image as far as I can tell.

**Reproduction Steps:**

1. Create new workspace with Bitnami Laravel
2. Deploy
3. Error on "ssh-keygen: generating new host keys: RSA1"

**Error Code:**
Could not start workspace test-wksp-1c7o. Reason: Start of environment default failed. Error: Restoring of workspace work

[2016-11-28 23:35] prydonius commented on #30
Just tried on the hosted codenvy version (also 5.0.0-M7) and I didn't run into the same issue you did, but I am getting an empty project directory and no laravel app.

Everything works fine using the 'Developer Workspace' link the the README, however.

cc @amrecio any ideas?

[2016-11-29 14:44] amrecio commented on #30
It seems @HalfEatenPie is running Codenvy version 5.0.0-M7. That version was tagged on [10 November](https://github.com/eclipse/che/commit/315056731e6a8345c176ca8ac48750188415af4e). However, the PR that [updated](https://github.com/eclipse/che/pull/3051) the Bitnami stacks for the new version of Che/Codenvy was merged on 14 November and it was added to milestone 5.0.0-M8.

It's very likely this is

[2017-01-25 11:08] sameersbn commented on #30
@HalfEatenPie do you have any updates for us?

[2017-01-28 18:40] HalfEatenPie commented on #30
@sameersbn Hello!  Terribly sorry about getting to you so late.

Yes I've upgraded to Codenvy Version 5.0.0-M8 and the same problem still persists.  "tail" of the log shows:

[code]

[2017-01-31 09:16] amrecio commented on #30
Hello @HalfEatenPie,

The error message about `ssh-keygen` is harmless but the workspace should start nonetheless. I've tried to launch a Bitnami Laravel workspace on the hosted Codenvy version at codenvy.io and it worked as it should. The current version there is 5.1.2.

Could you give it another try using the latest version?

Thanks.

[2017-02-08 19:38] TheRangor opened #42 "Target not found error during build with Dockerfile"
I get this error during docker-compose up when im building with the dockerfile:

[code]

[2017-02-09 01:27] prydonius commented on #42
Hey @TheRangor, unfortunately this is an issue in Docker 1.13.0 (https://github.com/docker/docker/issues/30083), and is fixed in 1.13.1. You will either need to upgrade or downgrade to fix this.

[2017-02-17 10:31] juan131 commented on #25
@johngerome whenever a new version is released that value is updated to the latest version.

The tag "latest" (in the Docker Image) always points to a tag with latest version that has been **tested.**

If you change it to use `create-project --prefer-dist laravel/laravel`, you can't guarantee that the Laravel version has already been tested by Bitnami.

[2017-02-17 10:38] juan131 commented on #12
@raisiqueira the Laravel application and the MariaDB database are hosted on different containers. Therefore, you can't connect your Laravel app through localhost, you need to configure your Laravel app to use `mariadb` as the database hostname.

[2017-04-25 03:57] 4goodapp opened #57 "Having issues with opcache validation frequence. / Views updated only a minute later."
Hello,
When I edit a Laravel view file, change are reflected only 60 seconds later in the browser,
I made some searches and it seems like that `opcache.revalidate_freq` is set to 60 in the `/opt/bitnami/php/conf/php.ini` file.
change it to 0 like this `opcache.revalidate_freq = 0` solve the problem.
Is this a bug? Or is this how it's supposed to work?

_**bitnami/laravel     5.4.16-r0**_

[2017-04-25 14:59] andresbono commented on #57
Hello @4goodapp,

Thanks for reporting this. We will evaluate the change you propose and we will let you know if we include it in future revisions of the `php` module.

Thanks again,
Andrés.

[2017-04-28 13:00] austinicomedez opened #58 "cp: cannot create directory '/app/database': Permission denied"
Followed this https://raw.githubusercontent.com/bitnami/bitnami-docker-laravel/master/docker-compose.yml but after running it, it goes down immediately

**Steps to reproduce the issue:**

1. Copied and ran this https://raw.githubusercontent.com/bitnami/bitnami-docker-laravel/master/docker-compose.yml
2. Container died immediately.
3. Saw permission denied logs using `docker logs [container_name]`

[2017-05-01 12:17] dbarranco commented on #58
Hi @austinicomedez

I'm not able to reproduce the issue. I've downloaded the docker-compose.yml file using the same link and executed `docker-compose up`.

 This is the output I got:

[code]

So it's not an issue related with the container, it seems to be an issue about the path in were you're executing `docker-compose up`.

Could you try with another directory? Check if you have permissions there

[2017-05-03 14:45] austinicomedez commented on #58
@dbarranco This was resolved, thanks for trying it out :raised_hands: .

[2017-05-03 14:45] #58 closed

[2017-06-07 17:21] faphdev commented on #58
Hello,

Do you mind saying how did you solve this?

Thanks!

[2017-06-09 14:21] juan131 commented on #58
Hello @faphdev

What steps did you follow? I think the problem is you're running `docker-compose up` on a directory where you haven't enough permissions. Could you please follow this steps?

[code]

[2017-07-09 22:48] faphdev commented on #58
@juan131 Hello, Sorry I did not see your reply. Yes, this is exactly what I did.

[2017-07-11 14:51] dbarranco commented on #58
Hi @faphdev

Could you check if you have enough permissions in the directory in which you are going to execute `docker-compose up` to create a folder?

The issue of the other user was that he hadn't got enough permissions so when he executed `doker-compose up` the Laravel container couldn't create the project folder.

Could you try launching up the container in your home folder, for example? Just

[2017-08-18 14:18] datenzar opened #70 "Receiving "Permission denied" errors when running in Kubernetes"
**Description**

I tried deploying this project on Kubernetes via minikube
but after running it, it goes down immediately with the same message as reported in #58

**Steps to reproduce the issue:**

1. stepping up a minikube cluster on Windows 10 as described [here](https://blogs.msdn.microsoft.com/wasimbloch/2017/01/23/setting-up-kubernetes-on-windows10-laptop-with-minikube/)
2. running `kubectl

[2017-08-31 15:13] amrecio commented on #70
Thank you for reporting the issue. Commit 00f17c7 should fix it. Could you try again with the latest `kubernetes.yml` file and see if it works now?

Thanks.

[2017-09-01 09:22] datenzar commented on #70
I don't have access to my minikube environment but deploying to AWS (kops-based setup), things are looking looking good so far. The only thing I noticed is 2 warnings "persistentvolumeclaim "myapp-claim0" not found (repeated 3 times)" popping up. It seems that the third repetition finally succeeded.

Thanks for the fix!

[2017-09-18 11:19] silviofdez commented on #70
Marked as solve. Thanks for the feedback.

[2017-09-18 11:20] #70 closed

[2017-10-04 19:46] johntiror opened #73 "cannot create regular file '/app/.env': Permission denied"
Hi,

I don't want the MariaDB service, so I don't want to use `docker-compose up`, but I'm getting the following errors:

[code]
What should I do?

Thanks

[2017-10-19 11:33] tompizmor commented on #73
Hello @johntiror,

Sorry for the late response. The Bitnami Laravel container is thought to be used mounting a local volume. This volume can contain a laravel application or it can be empty and the container will create a new project during the initialization.

So you can launch the container as follows:

[code]

However, currently the `app-entrypoint.sh` will wait for a DB and fail otherwise.
Wha

[2017-10-19 11:58] johntiror commented on #73
Thanks, that's a possible solution, but it's not a strong replicable solution, so it's not an option for me. I switched to Laradock.
Thanks

[2017-10-19 11:58] #73 closed

[2017-12-13 20:02] Antoine-O opened #75 "Trying to install https://github.com/jenssegers/laravel-mongodb"
Hello !

I want to add https://github.com/jenssegers/laravel-mongodb and it needs php mongodb extension
Here is my Dockerfile . I had to change access of php.ini to allow to modify it.

[code]

Nevertheless, at launch it fails :
[code]

Any guess/solution welcome :)

[2017-12-14 10:02] juan131 commented on #75
Hello! A couple of questions:
 - Is the `mongodb.so` extension installed at `/opt/bitnami/php/lib/php/extensions/`?
 - Can you load the extension when you run: `php -m`?

[2017-12-14 14:25] coolflame87 opened #76 "how to add or enable php extensions"
I am using bitnami-docker-laravel container. How can i add or enable php extensions on it.

[2017-12-15 10:48] juan131 commented on #76
Hi, you need to edit the file `/opt/bitnami/php/etc/php.ini` and ensure your extensions is included in the format:

[code]

You can later run `/opt/bintami/php/bin/php -m` to check whether it's has been enabled or not.

[2017-12-15 15:32] coolflame87 commented on #76
I want to add xdebug. unable to find it in `/opt/bitnami/php/etc/php.ini `.
I try to install it via pecl
[code]
Is their any  way I can add php extensions in a container

[2017-12-18 08:10] Antoine-O commented on #75
Thanks for your message :) I'll take a look further this week, I have taken another image based on the "php" image since.

[2017-12-19 08:45] coolflame87 commented on #76
any plan to add xdebug and other useful extensions in docker image.?

[2017-12-19 08:50] juan131 commented on #76
@tompizmor @jotadrilo what do you think about including this extension on the PHP Nami module?

[2018-03-01 12:39] rquadling commented on #76
Hi. I'm NOT an expert here, but the solution we have is ...

[code]
 Happy to discuss this further here if necessary. It comes under the heading of "works for us", YMMV, IANAL, OYOHBI, Caveat Emptor, etc.

[2018-03-02 09:53] rquadling commented on #76
What's missing/PITA here is the need to alter the main php.ini file. I've asked for the ability to scan a directory for additional ini files, but have been told that this is not scheduled.

But ... (oh joy) ... just read http://php.net/manual/en/configuration.file.php#configuration.file.scan.

So, hopefully this can be done a LOT easier!!!

[2018-03-06 14:12] tompizmor commented on #76
Scanning a directory for additional .ini files is a feature that we want to add to the php-fpm container and the progress will be tracked at https://github.com/bitnami/bitnami-docker-php-fpm/issues/104.

[2018-03-25 12:01] SubodhDahal opened #84 "Changes in code not being reflected"
**Description**

I have been using this docker image for Laravel development and most of the time the changes I make to the code are not immediately reflected to the expected output. Sometimes the changes take place after a few refreshes in the browser and sometimes not at all so I have to stop the containers and rerun them.

**Steps to reproduce the issue:**

1. Add the following code in `routes/

[2018-03-26 11:20] javsalgar commented on #84
I was able to reproduce it. It is due to the application caching. In order to clear the cache, execute this command inside the container:

[code]

After that, the new page appeared immediately

[2018-03-26 15:03] SubodhDahal commented on #84
Thanks @javsalgar. That worked, but it's frustrating to have to run the command frequently. Is it possible to disable the cache permanently for development environment?

[2018-03-26 15:17] javsalgar commented on #84
It looks to me that it is not possible, according to this link: https://laracasts.com/discuss/channels/laravel/how-to-disable-cache-in-laravel-52

I would advise you to directly ask them and see what they say :D

[2018-05-14 21:49] BrianAndersen78 commented on #57
Yeah... It's a great build for Laravel, but this update delay i a pain in the a.... :D

BTW: Thanks for another great bitnami container!

[2018-05-16 08:27] andresbono commented on #57
Hi, this issue has been open for a while now. We have not included this change in the container yet.

What you can do for now is applying the following change in the Dockerfile and rebuild the container:

[code]

Now, if you execute it, you will have the `opcache.revalidate_freq` parameter set to `0` in the `/opt/bitnami/php/etc/php.ini` file.

Hope this works for you. And thanks for the feedback!

[2018-08-13 07:36] flourishing opened #89 "/app/vendor does not exist and could not be created."
I was trying to run composer install  and it reported error.

after i started laravel docker, i run
docker-compose exec myapp composer install

it reported /app/vendor does not exist and could not be created.
i have tried change mkdir app/vendor and change 777 to it . but doesn't work.
how to deal with it ?thanks

[2018-08-14 08:06] rafariossaa commented on #89
Hi,

  I have tried to reproduce this but I don't get this error.

  Could you provide a complete log?

Thanks

Best regards,

Rafael Rios

[2018-08-14 14:29] flourishing commented on #89
`root@li408-10:~# mkdir ~/myapp && cd ~/myapp
root@li408-10:~/myapp# curl -LO https://raw.githubusercontent.com/bitnami/bitnami-docker-laravel/master/docker-compose.yml
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   556  100   556    0     0   1865      0 --:--:-- --:--:-- --:--:--

[2018-08-14 15:31] rafariossaa commented on #89
Hi,

 The problem is that you are using root for creating the myapp dir, try doing all the steps under a regular user.

[code]

[2018-08-15 14:06] flourishing commented on #89
i create a regular user, it reports
jpr@li408-10:~/myapp2$ docker-compose up
ERROR: Couldn't connect to Docker daemon at http+docker://localunixsocket - is it running?

If it's at a non-standard location, specify the URL with the DOCKER_HOST environment variable.

thanks for your help

[2018-08-16 06:56] rafariossaa commented on #89
Hi,

  May be it is because the regular user you created it is not in the docker group.

  I would suggest you to review docker install [documentation](https://docs.docker.com/v17.09/engine/installation/linux/linux-postinstall/).

I proceed to close this ticket as solved. If you have any other questions, please do not hesitate to open a new thread.

Best regards,

Rafael Rios

[2018-08-16 11:27] balintsera opened #90 "Unnecessary update"
First of all, thank you for this image!

https://github.com/bitnami/bitnami-docker-laravel/blob/20b52f8252e827a1c2fb8bc4d12ebb0476593b3e/5/rootfs/app-entrypoint.sh#L20

This function checks whether the package.json file is edited since the last init session but Composer has a lock file so its more convenient just to run a `composer install`.

This will

1. look for a composer.lock file. This file

[2018-08-16 15:50] rafariossaa commented on #90
Hi @balintsera ,
  We are currently studying your proposal.
  We will have an answer in the following days.

[2018-08-17 05:11] balintsera commented on #90
Thank you very much, I will try to find some time on the weekend to help you with a pull request

[2018-08-17 09:17] rafariossaa commented on #90
Hi @balintsera ,

  We discussed about your proposal, and we agree that it is better the way you suggested.
  Please feel free to send the PR.

[2018-08-17 09:17] #89 closed

[2018-08-27 08:29] tderleth commented on #84
@SubodhDahal I figured out you need to open write access for docker container on our storage folder. Just try to chmod from your storage folder to sth like 777 (recursively) and it should work.

[2018-08-27 10:28] marcosbc commented on #84
Hi @tderleth, I'm unsure why that fixes the caching issue, since the files are still there, but I'm glad you were able to solve it on your side.

[2018-09-26 08:13] extralam commented on #12
I think it is not flexible if we use mariadb as hostname.

[code]

[2018-09-26 08:50] buccarel commented on #12
If I am not wrong, this is an issue I pointed out some weeks ago.

There is an environment variable instantiated and available all the
times, called DATABASE_URL that could be parsed and used instead of
extracting the entry from the hosts file. Especially because the web
application is using that env variable. This piece of bash you are
considering now is just used at the startup of the container,

[2018-09-26 10:43] extralam commented on #12
Then.
it will appear error message
`Error: Couldn't connect to mariadb.`
dead... at last.

If I have many laravel projects, I cannot use this docker image?
PS. Now, I hack this entry-point shell script.

[2018-09-26 17:57] #12 closed

[2018-10-18 21:37] florianrusch commented on #90
@rafariossaa is there a plan to accept the PR in the near future?

[2018-10-19 20:51] florianrusch commented on #12
@raisiqueira Please allow me to ask why this was closed!?

As @buccarel already mentioned, there is a bug:

[2018-10-23 14:33] glenlance opened #95 "content-length mismatch,received 23401 bytes out of the expected 331888"
when I  run " docker-compose up "

[2018-10-24 07:47] juan131 commented on #95
Hi @glenlance

I was unable to reproduce your issue using the latest version of the images: `bitnami:laravel` & `bitnami:mariadb`:

[code]

Did you simply run `docker-compose up`?
Did you mount an already existing application?
Could you share the output obtained when started the containers?

[2018-10-24 07:48] tompizmor commented on #90
Hi @florianrusch,

We are working on refactoring the laravel container. The functionality will remain the same but we will reorganize files and logic. Once that refactor is complete, I will test the PR and apply the changes.

[2018-10-31 14:44] tompizmor commented on #90
Hi @balintsera @florianrusch,

We have finished the refactoring of the laravel container including the changes proposed in this PR. Please take a look at the current container and close this PR if everything is fine.

[2018-11-04 18:46] florianrusch commented on #90
@tompizmor thanks for your work :-)
can be closed I think.

[2018-11-05 07:03] balintsera commented on #90
@tompizmor thank you for this update. I checked the entrypoint script but I still think that it's suboptimal.
`Composer update` command updates _every package and their dependencies_ that it finds in the `composer.json` file to the latest (enabled by the version constrain string). This could result unintended changes in the container and I think that with continuous integration and delivery, it is

[2018-11-05 16:59] tompizmor commented on #90
You are right! I missed that change when applying the changes from the PR.
I will release new versions of the images and update this thread

[2018-11-06 10:14] tompizmor commented on #90
Docker images updated!

[2018-11-06 10:22] balintsera commented on #90
I can see that, thank you :)

... and in a possible next version it would be very helpful to have a separate production and dev version, because composer has some useful switches for production:
`composer install --no-dev --optimize-autoloader`

[2018-11-06 10:22] #90 closed

[2018-12-01 09:05] dev-kang opened #96 "how to install php ext dependencies?"
My project  required the ext-mongodb ^1.4.0.  How can i install it ?

	myapp_1_d223d9ceae09 | Loading composer repositories with package information
	myapp_1_d223d9ceae09 | Installing dependencies (including require-dev) from lock file
	myapp_1_d223d9ceae09 | Your requirements could not be resolved to an installable set of packages.
	myapp_1_d223d9ceae09 |
	myapp_1_d223d9ceae09 |   Problem 1
	myap

[2018-12-04 09:46] andresbono commented on #96
Hi @dev-kang, can you try to modify the _Dockerfile_ to install `mongodb` _PHP_ extension? You should add the following lines right before the `USER bitnami` line:

[code]

Then, if you build the container image again, you will be able to execute the command to add `mongodb` _PHP_ extension to your _Laravel_ application:

[code]

Let us know if it works for you.

[2018-12-21 11:04] shiasyn commented on #84
[Here](https://github.com/laravel/framework/issues/2501) you can find approach for disabling caching for the specific environment by setting ```CACHE_DRIVER=array``` in .env file

Sadly I still experiencing this issue :(

I did
```chmod -R storage```
on my host machine first and after that inside the docker container

[2018-12-28 10:39] jantuitman opened #97 "Mariadb servicename is hardwired in docker image"
-------------------------------
    BUG REPORT INFORMATION
-------------------------------

**Description**

I tried to use bitnami Laravel in combination with an existing (non bitnami) dockerized sql service. for reasons this sql service was named mysql in the docker-compose file rather than `mariadb`. Turns out if you modify the docker-compose file only slightly to use this different name, it wi

[2018-12-28 15:46] andresbono commented on #97
Hi @jantuitman, we'll fix it. Your proposed change makes total sense.

Thanks for taking the time to fill this issue!

[2019-01-02 15:06] #97 closed

[2019-03-11 17:56] pekechis commented on #76
After installing php-xdebug  I've found xdebug.so under the /usr/lib/php/20151012/
so I thought that adding he following lines to /opt/bitnami/php/etc/pnp.ini would be enough:

[code]
But i'm getting undefined symbol: php_log_err. Any clue?. It would be great to get xdebug working as a default env var.

[2019-03-12 10:22] tompizmor commented on #76
Hi @pekechis,

If the xdebug.so file is not in the default php extension directory (`/opt/bitnami/php/lib/php/extensions/`) you may need to specify the absolute path.

Can you try the following config?

[code]

[2019-03-12 15:48] pekechis commented on #76
I had already tried this but i moved xdebug.so to the folder you mentioned. No matter if I use /usr/lib/php/20151012/xdebug.so or the moved xedbug.so under /opt/bitnami/lib/php/extensions, I'm always getting "undefined symbol: php_log_err". I'm guessing that perhaps I'm missing some libray.

Thanks

[2019-03-12 16:21] pekechis commented on #76
Well, solved

While php-dev is not installed you can't "pecl install xdebug". Once it's installed the docker-compose is no longer showing the xdebug.so  "undefined symbol: php_log_err".

However now I'm getting opcache.so: undefined symbol: pcre_exec
XDDDDDDD. I'll let you know

[2019-03-14 14:06] tompizmor commented on #76
@pekechis how did you installed xdebug? I think you need to compile it from source. Did you do that?

[2019-03-14 15:54] pekechis commented on #76
Didn't have to...
pecl install xdebug
apt-get install php-dev

Now I can't debug from the host machine without any problem. The container is only showing the problem with the opcache.so.

Thanks @tompizmor

[2019-03-14 16:03] pekechis commented on #76
I did. I'm not having any problem with Xdebug. Problems are with opcache.so

[2019-03-15 11:17] tompizmor commented on #76
Ok ok! I just wanted to know because I have compiled it and I could load the xdebug extension without issues.

[2019-03-25 08:10] pekechis opened #99 "Error 500 on docker-compose up"
Maybe is a stupid question. Sorry in advance, I'm a docker-compose starter....

I'm using the following docker-compose:

`version: '2'

services:
  mariadb:
    image: 'bitnami/mariadb:latest'
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - MARIADB_USER=xxxxxxx
      - MARIADB_DATABASE=xxxxxx
      - MARIADB_PASSWORD=xxxxxx

  myapp:
    tty: true
    image: 'bitnami/laravel:latest'

[2019-03-25 11:57] andresbono commented on #99
Hi @pekechis,

Do the docker-compose logs show any clues about the error? You can execute the following command:

[code]

Did you try to run your _Laravel_ application in a different environment before?

[2019-03-26 15:44] pekechis commented on #99
Hi @andresbono

Thanks for your answer. Finally I've found the problem (It's my problem ;) )

When docker-compose up is run for the first time, as the container is built correctly, the code from the repo is mounted at the right place (/app folder), all the dependencies at composer.json are installed and all the migrations are  run ( due to the ENV vars in the docker-compose.yaml)

But, as my **_.g

[2019-03-28 10:27] andresbono commented on #99
Hi @pekechis, great to hear that you found the issue and you could solve it! 🎉

Of course! Feel free to send the PR and we'll review and merge it.

I'd recommend to add your use case as an example under https://github.com/bitnami/bitnami-docker-laravel#getting-started.

If you want to explain the key generation, maybe it fits better under https://github.com/bitnami/bitnami-docker-laravel#executing

[2019-04-02 12:05] #42 closed

[2019-04-02 12:05] #30 closed

[2019-04-02 12:05] #25 closed

[2019-04-02 12:05] #75 closed

[2019-04-02 12:05] #95 closed

[2019-04-02 12:05] #96 closed

[2019-04-03 08:50] kaitoAckerman opened #100 "Any future support for nginx/apache ?"
Hello there,

Is there any support for nginx/apache instead of only `php artisan serve` by default ? Is `php artisan serve` save for production server ?

Thank you.

[2019-04-03 13:31] andresbono commented on #100
Hi @kaitoAckerman, this is a development container so it is recommended that you move the php code to a different container instead of serving it with `php artisan serve` in production.

Maybe the combination of nginx/apache + php-fpm suits your needs. Take a look at https://github.com/bitnami/bitnami-docker-php-fpm#connecting-to-other-containers.

[2019-04-04 11:42] kaitoAckerman commented on #100
Alright then. Thanks for your guide @andresbono .

[2019-04-04 11:42] #100 closed

[2019-04-04 12:30] #76 closed

[2019-04-11 08:07] myokoko-megliofuturo commented on #57
Similar behavior happening for the API routes. Route prefix changes are not immediately reflected. Since the container is installed by the instructions of the **Getting Started** section, the Dockerfile is not included. Any suggestion for this?

[2019-04-12 13:37] andresbono commented on #57
Hi @myokoko-megliofuturo,

Instead of downloading the docker-compose file only, you can clone the whole repository and then modify and rebuild the Docker image.

[code]

[2019-04-17 11:40] #99 closed

[2019-05-04 05:45] duanhdan opened #101 "Why can't start with official mariadb (not bitnami/mariadb)"
**Description**
I tried to deploy laravel app in my macbook and connect app to an mariadb container (image from official docker hub) but I always got this message:

[code]
I've searched for some issue and see that on [entrypoint](https://github.com/bitnami/bitnami-docker-laravel/blob/master/5/ol-7/rootfs/app-entrypoint.sh#L20), container has to connect to mariadb via curl. Everything is ok if I us

[2019-05-04 07:43] duanhdan commented on #101
I have to use `entrypoint: ''` in docker-compose to stop default entrypoint script. Still need helping from community

[2019-05-06 06:33] alemorcuq commented on #101
Hi, @duanhdan.

I'm not able to reproduce your issue. Can you give me some detailed steps in order to reproduce? I've tried deploying with `docker-compose` and it worked. This is the file I'm using:

[code]

Regards,
Alejandro

[2019-05-06 12:08] duanhdan commented on #101
Hi @alemorcuq,
Thank you for taking your time. I've created docker-compose file for local dev:

[code]

And each project I used one file:

[code]

But I got this logs from laravel app container:

[code]

But if I ssh into the container, I can use `php artisan tinker` to test the mariadb connection.

[2019-05-07 11:13] alemorcuq commented on #101
Hi, @duanhdan.

I have some questions for you:

1. What are the logs of the `mariadb` container?
2. If, using that same setup, you change `image: mariadb` with `image: bitnami/mariadb`, does it work?

It may be possible that, for some reason, the `mariadb` container is taking longer to initialize than the `laravel` container expects.

[2019-05-12 06:01] duanhdan commented on #101
Hi @alemorcuq ,

I've checked all container and always run & check mariadb before up laravel app but still got no luck.
So I decided to create my own image :) And it's running well.
I think the problem is laravel container can't connect with external mariadb, btw thank you :)

[2019-05-13 06:51] alemorcuq commented on #101
Hi @duanhdan,

It's weird, because [I was able to use the official `mariadb` with `bitnami/laravel`](https://github.com/bitnami/bitnami-docker-laravel/issues/101#issuecomment-489513587) with no problems. Anyways, I'm glad you were able to solve your issue. Feel free to open another issue if you encounter any further problem.

[2019-05-13 06:51] #101 closed

[2019-05-27 12:07] LSaraguA opened #102 "Operation not permitted preserving times results in myapp container stopping under Windows"
**Description**

MyApp container stops while starting environment on Windows.

**Steps to reproduce the issue:**

1. Download _docker-compose.yml_ file
2. Run `docker-compose up`

**Describe the results you received:**

Messages shown in log:
[code]

**Describe the results you expected:**

MyApp container runs.

**Additional information you deem important (e.g. issue happens only occasionally):**

[2019-05-27 12:09] LSaraguA commented on #102
Proposed change (current fix in my environment):

[code]

[2019-05-28 06:37] andresbono commented on #102
Hi @LSaraguA,

Thanks for reporting the issue and sharing the solution that worked for you. We just replied in the PR.

[2019-05-30 06:56] #102 closed

[2019-05-30 06:57] LSaraguA commented on #102
Fixed in #103

[2019-06-02 21:18] paguii opened #104 "Cant connect to mariadb. Windows 10."
**Description**

I installed docker in my Windows 10 and I'm working in a project that has docker-compose.yml file so I can work but everytime I run the command the container with the app running cant communicate with mariadb container. I used all the recommendations added the privilege attribute but it does not work. Since I'm a begginer using docker I reseted the factory settings but it always g

[2019-06-18 09:57] alemorcuq commented on #104
Hi, @paguii.

Sorry for the late answer, somehow this issue went under the radar. Can you try using `bitnami/mariadb:10.1` instead of `bitnami/mariadb:10.3`?

Regards,
Alejandro

[2019-06-19 22:43] oladipo opened #105 "Cant Connect to Laravel App from Host machine"
After running docker-compose up -d

**Steps to reproduce the issue:**

1. Navigate to http://localhost:3000 from host machine
2. Browser can't connect
3. telnet to port 3000 on 127.0.0.1, connection actively refused.
**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Version**

- O

[2019-06-19 22:51] #105 closed

[2019-06-21 23:09] utsocial opened #106 "Error in the subprocess.py"
$ docker-compose up
Pulling mariadb (bitnami/mariadb:10.1)...
Traceback (most recent call last):
  File "site-packages\dockerpycreds\store.py", line 52, in _execute
  File "subprocess.py", line 336, in check_output
  File "subprocess.py", line 403, in run
  File "subprocess.py", line 709, in __init__
  File "subprocess.py", line 997, in _execute_child
FileNotFoundError: [WinError 2] The system can

[2019-06-23 14:14] paguii commented on #104
Alejandro, thank you for your support changing the version to mariadb:10.1 worked nicely.

[2019-06-23 14:14] #104 closed

[2019-06-24 07:07] carrodher commented on #106
Hi, I am not able to reproduce the issue using the default _docker-compose.yaml_, it seems an issue with docker itself. What version are you using? Are you able to reproduce the issue after reinstalling Docker?

[2019-06-26 13:01] l0rb opened #107 "MARIADB_EXTRA_FLAGS prevents initializing"
**Description**
I tried to start the container with `MARIADB_EXTRA_FLAGS=--character-set-server=utf8mb4` set but after `mariadb_1  | INFO  ==> Initializing mariadb database...` no more log lines from the mariadb container are printed. It does not exit, it just stops. This results in the app container trying to connect to it but never succeeding creating a stream of `Trying to connect to mariadb at

[2019-06-26 16:20] javsalgar commented on #107
Hi,

I enabled the `BITNAMI_DEBUG=true` env var and saw this error

[code]

It seems to me that an extra parameter is missing in order to make it work. I found this link, which I think could be helpful for the issue https://stackoverflow.com/questions/25852239/collation-utf8-general-ci-is-not-valid-for-character-set-latin1

[2019-06-26 17:39] Bibendus83 commented on #84
For me the artisan command to clear the cache didn't work.
I had to disable opcache in my php.ini and now page modifications are refreshed instantly.

Here is what I did:

- Install nano (it's not available by default on this image)
[code]

- Change opcache.enable=0 to opcache.enable=1 in your php.ini

[code]

- Restart your docker container (I have disk persistence so my changes are kept)

[2019-06-27 07:03] marcosbc commented on #84
Thanks for sharing @Bibendus83! That makes sense, as Opcache is a feature enabled by default. We could discuss whether it makes sense to disable it by default in Bitnami development images (e.g. Laravel). I've created an internal task for that purpose.

[2019-06-27 08:58] Bibendus83 commented on #84
It would be nice to have an ENV setting to choose development or production environment.

[2019-06-28 01:46] saidmoya12 opened #108 "Command for Deployment mode"
Please Allow a feature for deployment mode for Laravel

like:
[code]

Thanks!

[2019-06-28 07:07] miguelaeh commented on #108
Hi @saidmoya12 ,
I am not an expert with laravel, but could you try to run that command into the `app-entrypoint.sh` script or even on the Dockerfile?
Probably this could solve your problem.

[2019-07-01 07:44] l0rb commented on #107
That fixes this issue! Thank you, was not aware of the possibility to see more debug output.

[2019-07-01 07:44] #107 closed

[2019-07-08 12:27] l0rb opened #109 "Xdebug support"
Are there any plans to add Xdebug support? With Xdebug installed by default it would be easier to do debugging and get code coverage reports.

[2019-07-09 06:36] rafariossaa commented on #109
Hi @l0rb ,
 Thanks for your interest in using Bitnami and for your suggestion. I will share it with our Engineering team so they could take it into account for future improvements.

  Meanwhile,  feel free to send a PR and we'll review and merge it.

Best regards,

[2019-07-09 17:44] amacsmith opened #110 "How to update to use php 7.2"
I am new to dockers and I would like to use this image but with PHP 7.2. How would I go about doing that?

[2019-07-10 07:21] tompizmor commented on #110
Hi @amacsmith,

By default, the image uses PHP 7.1 and there is no way to change the PHP version without rebuilding the image.
In order to use PHP 7.2, you will have to clone this repo and edit the Dockerfile to change the php component version:

[code]

[2019-07-14 08:06] #106 closed

[2019-07-14 10:27] E-Bismuth commented on #57
other way : first line of server.php : opcache_reset();

[2019-07-14 10:27] E-Bismuth commented on #84
other way : first line of server.php : opcache_reset();

[2019-07-15 08:07] javsalgar commented on #84
Thanks for the input. As soon as we have more news on this, we will update the ticket

[2019-07-18 07:50] #108 closed

[2019-07-25 06:36] #109 closed

[2019-07-30 08:02] #110 closed

[2019-08-24 19:32] annymosse opened #112 "bitnami doesn't work"
**Description**
**Steps to reproduce the issue:**

1. access my app folder:
[code]
2. run to startup:
[code]
**Describe the results you received:**
[code]

**Describe the results you expected:**
i expect the container to work fine.

**Version**

- Output of docker version:

[code]

- Output of docker info:

[code]

- Output of docker-compose version (if applicable):

[code]

**Additional environme

[2019-08-26 07:04] carrodher commented on #112
According to the error
[code]
it seems your application (or some dependencies) need to use PHP 7.2 but the PHP version included in the application is PHP 7.1.31

[2019-08-26 14:41] annymosse commented on #112
yeah i noticed that but i couldn't update it,i'm new user with docker ,i accessed the system container and update it with the latest of php-7.3 then the container doesn't work at all

[2019-08-27 07:40] carrodher commented on #112
Hi,

Once deployed the container it is not possible to update the Bitnami PHP version included in the image, this version is installed in `/opt/bitnami/php` and the executable is `/opt/bitnami/php/bin/php`. This immutable installation can't be updated once the image is built, if you are trying to update PHP in the container you are updating the system PHP, not the Bitnami one.

You can change the

[2019-09-11 10:08] l0rb opened #113 "Doesn't work with laravel 6.0"
Doesn't work with laravel 6.0 because it needs php version at least 7.2 but this image has 7.1

[2019-09-11 11:11] annymosse commented on #112
thank you @carrodher i forgot to close this issue and your solution work well :100: .

[2019-09-12 10:41] bjorkblom opened #114 "Permission denied"
**Description**

When running docker-compose up I get `The stream or file "/app/storage/logs/laravel.log" could not be opened: failed to open stream: Permission denied`

**Steps to reproduce the issue:**

1. docker-compose up

**Version**

- Output of `docker version`:

[code]

- Output of `docker info`:

[code]

**Additional environment details (AWS, VirtualBox, Docker for MAC, physical, etc.):**

[2019-09-13 09:36] juan131 commented on #114
Hi @bjorkblom

Could you share the output of running the command below?

[code]

By default the permission are:

[code]

As you can check there's writing permissions for "other" in that directory, so it should be possible to create a file there.

[2019-09-16 05:35] bjorkblom commented on #114
This was Azure related. After I mounted a dir it worked as expected. Closing issue

[2019-09-16 05:35] #114 closed

[2019-09-16 07:09] carrodher commented on #112
Nice, I will close it

[2019-09-16 07:09] #112 closed

[2019-09-24 20:20] pato-pato opened #116 "How to choose a different version of Laravel?"
Hi,

I'm new to the docker world and my question is about how to use this Docker Compose environment and change the required version of Laravel that I need?

I did try this version for projects I already have and it works well but this uses the newer version of Laravel. How can I use this docker environment but for **Laravel 5.5**?

Is it related to **tags**? If so, how should I use them!?

Thanks

[2019-09-25 07:58] alemorcuq commented on #116
Hi, @pato-pato.

Unfortunately, we don't support Laravel 5.5 anymore. You would have to use an old image, which we can't really recommend because despite Laravel 5.5 being an LTS release we haven't packaged it in a long time and they are not up to date.

Regarding your question about tags, you specify them after the image name. For example, to use the `latest` tag for `bitnami/laravel`, you have t

[2019-09-26 10:55] alemorcuq commented on #113
Hi, @l0rb.

Sorry for the very late response: somehow this issue went under the radar in our support process and we didn't notice it until now.

The container now ships with PHP 7.3. Is this still an issue for you?

Regards,
Alejandro

[2019-09-26 23:39] pato-pato commented on #116
Thank you @alemorcuq for your quick response!

Have a good day!

[2019-09-26 23:39] #116 closed

[2019-09-29 06:27] jeffreyrr opened #117 "forcing change of utf8mb4 to utf8 breaks pre-existing indexes"
I have an index that can't be created and I narrowed down the issue to the app-entrypoint script forcing utf8 charset

https://github.com/bitnami/bitnami-docker-laravel/blob/e7b4ae17db051e283175c421785b61621dbf468b/6/debian-9/rootfs/app-entrypoint.sh#L39

[2019-09-30 06:34] alemorcuq commented on #117
Hi, @jeffreyrr.

Can you give us some steps in order to reproduce the issue? It would help us understand the issue and figure out a fix.

Regards,
Alejandro

[2019-09-30 09:10] l0rb commented on #113
this solves the issue

[2019-10-20 07:46] #117 closed

[2019-11-14 03:49] rtelesc opened #118 "[ERROR] in kubectl create -f test.yaml"
**Description**

**Steps to reproduce the issue:**

1. [First Step]
2. [Second Step]
3. [and so on...]

**Describe the results you received:**
i have attempted to run "kubectl apply -f test.yaml" but  terminal say  error: unable to recognize "test.yaml": no matches for kind "Deployment" in version "extensions/v1beta1"

I'am using the original code from bitnami

**Describe the results you expected:

[2019-11-14 12:12] carrodher commented on #118
There are several deprecations in the API introduced in `K8s 1.16` (see https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.16.md#deprecations-and-removals) which affect our manifests. The following APIs are no longer served by default:

- All resources under `apps/v1beta1` and `apps/v1beta2` - use `apps/v1` instead
- **daemonsets**, **deployments**, **replicasets** resources under `e

[2019-11-14 13:23] rtelesc commented on #118
Hello, thanks for reply.

This kubectl version
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe5036ef3df2967d086711e6c0c405941e14b", GitTreeState:"clean", BuildDate:"2019-10-17T17:16:09Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"linux/amd64"}

[2019-11-15 17:17] rtelesc commented on #118
Hello, after many attempts I managed to solve the problem.

Below are instructions on how to resolve this error.

Using or converting, it creates the necessary files, but you can change file deployments with the following structure.

nginx-deployment.yaml
`apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: /snap/kompose/1/./kompose-linux-amd64 convert
    kompose.versio

[2019-11-15 17:17] #118 closed

[2019-12-02 14:56] GlennM opened #119 "Error when trying to run Dusk example test"
**Description**

Running `php artisan dusk` leads to `Failed to connect to localhost port 9515: Connection refused`

**Steps to reproduce the issue:**

1. `docker-compose exec myapp php artisan dusk:install`
[code]
2. Run `docker-compose exec myapp php artisan dusk`

**Describe the results you received:**

[code]

**Describe the results you expected:**

Passing test

**Additional information you d

[2019-12-03 10:39] tompizmor commented on #119
Hi @GlennM,

I have seen there are several issues like that reported in the Laravel project:

- https://github.com/laravel/dusk/issues/649
- https://github.com/laravel/dusk/issues/648

It seems is not easy to install Laravel Dusk on a docker container. I also see several posts using Selenium as a driver on a different container:

- https://medium.com/@adiach3nko/how-to-run-laravel-dusk-inside-dock

[2019-12-11 23:39] yanko-ivanov opened #120 "Container stuck while connecting to db"
Hello! I seem to have a problem with a simple laravel application + mariadb container.
Apparently, according to the app-entrypoint.sh script I've no connectivity to the mariadb container, so it shuts down the container after 30 tries. Which is absolutely wrong, because if I attach to the laravel container during that sequence, I can run the artisan migrations etc - I can see the mariadb container

[2019-12-12 15:51] jotamartos commented on #120
Hi @yanko-ivanov,

Just a quick note to let you know that the team is checking this issue and we will update it as soon as we have more information.

Thanks

[2019-12-16 14:21] jotamartos commented on #120
Hi @yanko-ivanov,

We tried to reproduce the error but we couldn't do so. The docker-compose.yml file we used was this one

[code]

and the .env file is the same one you shared

[code]

We found this information in the logs

[code]

As you can see, the laravel container failed to connect to MariaDB 3 times but then the database finished the configuration step and the Laravel container could connec

[2019-12-18 15:04] GlennM commented on #119
Too bad, but thanks for your reply

[2019-12-19 09:35] tompizmor commented on #119
I believe you can try asking for help in the Laravel Dusk repo. Maybe there are people following the project that can help you.

[2020-01-05 15:09] #120 closed

[2020-01-08 10:12] #119 closed

[2020-01-12 00:39] JFernandoGomez opened #122 "Change to Mysql"
how can I change from mariadb to Mysql with this image?

[2020-01-13 09:06] alemorcuq commented on #122
Hi, @JFernandoGomez.

This `docker-compose.yml` works for me:

[code]

[2020-01-13 16:17] JFernandoGomez commented on #122
@alemorcuq thanks for the quick response, let me try it.

[2020-01-14 17:00] sserzant commented on #119
@GlennM I found this issue while googling my own issue with Laravel Dusk and Laradock. I solved mine and I might help you too.

You need certain dependencies to be present in your container for dusk to run correctly. Basically your error says that there's no browser present.

This is an example of Dockerfile step to install dusk dependencies taken from Laradock project:
[code]
You can either run s

[2020-01-29 08:00] alemorcuq commented on #122
Any news on this, @JFernandoGomez ?

[2020-01-29 18:34] JFernandoGomez commented on #122
works! thanks @alemorcuq

[2020-01-29 18:34] #122 closed

[2020-02-03 01:54] leggettc18 opened #123 "Permission Denied when running via podman"
**Description**

When attempting to run the bitnami/laravel container with rootless podman, the container does not seem to have permissions to access the mounted host directory.

[code]
This happens as soon as the container is started and then the container stops. Host is running Fedora 31, fails whether SELinux is enabled or not, whether volume is mounted with :Z or :z. Haven't tried starting the

[2020-02-03 11:42] miguelaeh commented on #123
Hi @leggettc18 ,
Could you share the permissions of the local directory you are mounting? It is probably the user running inside the `podman` pod does not have permissions on that directory. Have in mind the permissions on the mounted directory will be the same as the permissions on your local machine.

[2020-02-03 12:54] leggettc18 commented on #123
I'm not in front of the computer right this minute, but it's a folder I made directly before running the container so it should just have my user's permissions on it. I'll get the exact permissions as soon as I can.

[2020-02-03 14:10] leggettc18 commented on #123
The computer I was on was having internet troubles, so I couldn't copy paste, but here are the permissions on the folder I am trying to mount to the container, received from `ls -la`

[code]

And that folder is empty.

[2020-02-03 23:39] leggettc18 commented on #123
So for some reason after I rebooted and installed some updates and it started working? Weird, as I checked the updates and didn't see anything related to containers there. I did also attempt to `chmod -R a+rwx` on the directory as a last resort, but it didn't work until after the reboot, so I don't think that did it... Regardless, I'm happy its working now and thank you for your time. If you need

[2020-02-03 23:39] #123 closed

[2020-03-02 11:10] HendrikJan opened #124 "Use https for the bitnami-docker-laravel container"
**Description**

This is more a question that an issue.
(I'm sorry if this is not the right place for that. The Bitnami community forum sent me here)

The question is: How can I enable https (ssl) on the bitnami-docker-laravel container?
I couldn't find any information in the documentation.

**Steps to reproduce the issue:**

My current setup is this:

[code]
**Describe the results you received:**

[2020-03-02 16:18] javsalgar commented on #124
Hi,

Normally what we would do is to include a proxy that adds the SSL support. In solutions like Kubernetes this is done thanks to Ingress rules. In the case of docker-compose you could our nginx or apache containers with a custom configuration for your case. Another option that could you check is the nginx-proxy container.

[2020-03-02 17:55] HendrikJan commented on #124
Thanks.
I was hoping for a simple configuration switch :-)
I'll research using an Apache or Nginx container.

[2020-03-02 17:55] #124 closed

[2020-04-05 06:39] anthonyumpad opened #125 "exiting"
**Description**

**Steps to reproduce the issue:**

1. [First Step]
2. [Second Step]
3. [and so on...]

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Version**

- Output of `docker version`:

[code]

- Output of `docker info`:

[code]

- Output of `docker-compose version` (if

[2020-04-05 06:39] #125 closed

[2020-04-05 06:40] anthonyumpad commented on #125
Created in error, sorry

[2020-04-19 13:45] mtuchi commented on #89
Am facing the same problem on my production server (see logs below 👇.
It works fine in my local machine but facing this problem on the production server
[code]

[2020-04-20 16:27] rafariossaa commented on #89
Hi @mtuchi ,
  This issue is closed, and as several releases were done since this issue was opened, do you mind to open a new issue so proper tracking of it can be done ?

Thanks forehand.

[2020-04-27 11:47] iSWORD opened #126 "[FEATURE REQUEST] Upgrade to php 7.4"
I've recently started using this docker image and found it very helpful for CI.

I was just wondering, what's your timeline for upgrading to php 7.4?

Let me know if there's anything I can help with.

[2020-04-28 07:15] andresbono commented on #126
Hi @iSWORD, thanks for opening this issue.

In general, we move all our components to a newer PHP version at the same time to ease maintainability. There are exceptions when the applications requirements recommends a specific version, but for the case of Laravel, we are safe to use PHP 7.3: https://laravel.com/docs/7.x#server-requirements. We will migrate all the PHP applications to use the 7.4 ru

[2020-05-02 05:33] iSWORD commented on #126
Hi @andresbono

Thank you for your response. I had some packages in my project that dropped support for 7.3, but I guess I could just use older versions of those packages until this image gets updated.

Thank you,

[2020-05-02 05:33] #126 closed

[2020-05-04 06:59] andresbono commented on #126
Thanks, @iSWORD.

[2020-05-05 21:23] moraleslevi commented on #119
Just to add another option that doesn't require modifying an existing image, you can also run this chrome driver docker image: https://hub.docker.com/r/robcherry/docker-chromedriver/dockerfile

### docker-compose.yml
[code]

### DuskTestCase.php
[code]

Credit: https://developers.caffeina.com/how-to-use-dusk-with-docker-6cfb7397c6f1

[2020-05-12 17:25] philwilson opened #127 "file gone after volume mount"
**Description**

**Steps to reproduce the issue:**

1. [First Step]
2. [Second Step]
3. [and so on...]

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Version**

- Output of `docker version`:

[code]

- Output of `docker info`:

[code]

- Output of `docker-compose version` (if

[2020-05-12 17:26] #127 closed

[2020-06-02 17:08] frankyw commented on #101
I have this exact same problem, am using an existing linuxserver/mariadb container which is running fine and connected to multiple other containers.

The laravel container will not connect at all to it..

[2020-06-04 08:57] dani8art commented on #101
Hi @frankyw, thank you for reporting this issue. It seems checking with `curl` doesn't work with latest version of mariadb and this is the root cause. So the best solution would be to update this checking for a `nc` probe. Something like this:

[code]

Please take a look at the file attached to the comment and the entire example.
[laravel.tar.gz](https://github.com/bitnami/bitnami-docker-laravel/f

[2020-08-17 06:19] Illizian opened #129 "app-entrypoint forces utf8 by updating a working directory configuration"
This is arguably a question, more than it is a bug (...yet) but I was just wondering what the thinking behind this line of the [entrypoint](https://github.com/bitnami/bitnami-docker-laravel/blob/master/7/debian-10/rootfs/app-entrypoint.sh#L71) is:

[code]

There are some things that make me a little uncomfortable about this line. One is, it seems advisable to not touch my working directory, and, t

[2020-08-17 09:16] rafariossaa commented on #129
Hi,
  Thanks for noticing this.
  Yes, you are right, this should not be being changed.
  I am opening a task to change this.

[2020-08-17 09:39] Illizian commented on #129
@rafariossaa Oh, that's great to hear - I wasn't sure whether to raise the issue or not as it felt like feedback more than constructive :smile:

I'm happy to make the change :+1: (PR to follow)

[2020-08-24 08:03] rafariossaa commented on #129
Hi,
  Sorry for the delay.
  We are working to make a new release. I will come back a soon as it is out.

[2020-08-25 08:56] rafariossaa commented on #129
Hi,
 The new image was released.
  Could you give it a try ? , have into account that the docker compose file was also updated to include mariadb 10.2 .

[2020-08-25 09:39] #129 closed

[2020-08-26 08:59] Illizian commented on #129
Thanks @rafariossaa!

:+1: I didn't realise the image included MariaDB, I usually use a separate container and to be fair usually use 10.4

I'll give it a quick test and report back when I get a chance

[2020-08-27 07:15] rafariossaa commented on #129
Hi,
  The laravel image doesn't include mariadb. Maybe I don't expressed myself very clearly.
  What uses the mariadb image is the docker-compose file. I thought you were using that docker-compose file.

[2020-08-27 07:30] Illizian commented on #129
Ah! Sorry, yes I am using docker-compose but not the version contained in
this repo.

Thanks

On Thu, Aug 27, 2020 at 8:15 AM Rafael Ríos Saavedra <
notifications@github.com> wrote:

[2020-08-27 09:49] rafariossaa commented on #129
Hi,
  Ok, thanks for the clarification.

[2020-09-14 06:45] sshnuke3 opened #131 "how to install php modules?"
for example, i want to install php-mongodb module
if i input apt-get install php-mongodb, it will install another php for me and i could not use the module when i start the container
if i input pecl install mongodb, it will report no autoconf and gcc, etc found
so how could i install other php modules as i wish?

[2020-09-14 07:27] carrodher commented on #131
Hi, I think this issue was already discussed here (https://github.com/bitnami/bitnami-docker-laravel/issues/76), as the module is not included in the container, it needs to be compiled properly. Can you follow the steps described in this issue (although in the issue the module installed is a different one?

[2020-09-14 07:48] sshnuke3 commented on #131
my dockerfile is like this
FROM docker.io/bitnami/laravel:7-debian-10
RUN install_packages \
    git autoconf build-essential pkg-config \
    libmemcached-dev libmemcached11 libmemcachedutil2 libhashkit2
RUN sudo pecl install mongodb

when i build it reports E: List directory /var/lib/apt/lists/partial is missing. - Acquire (2: No such file or directory)

[2020-09-14 08:33] sshnuke3 commented on #131
i changed my dockerfile to
FROM docker.io/bitnami/laravel:7-debian-10
COPY sources.list /etc/apt/sources.list
RUN sudo install_packages \
    git autoconf build-essential pkg-config \
    libmemcached-dev libmemcached11 libmemcachedutil2 libhashkit2
RUN sudo pecl install mongodb
RUN sudo echo extention=mongodb.so >> /opt/bitnami/php/etc/php.ini

but when i build it reports
/bin/sh: 1: cannot creat

[2020-09-15 07:05] carrodher commented on #131
I was able to build the following Dockerfile:
[code]
It is the same you posted but with a couple of changes:
1) It is using root as user
2) It is not using the `COPY` as I don't have a `source.list` in my local

Apart from that, it's the same Dockerfile, I was able to build it by running `docker build`

[2020-09-15 07:51] sshnuke3 commented on #131
i just added USER root to my dockerfile and it works!
thanks a lot~

[2020-09-15 07:51] #131 closed

[2020-10-19 00:45] vilarinholeo opened #132 "Error: Directory public does not exist"
Hello, I'm trying to run the container by adding the mongodb extension and using a lumen code. But whenever I try to run compose up I get the error:

[code]

Does anyone know what can it be?

Here is my Dockerfile:
[code]

My docker-compose.yml:
[code]

[2020-10-20 07:06] miguelaeh commented on #132
Hi @vilarinholeo ,
You are indicating the `public` directory as `dcroot` with the `-t` option. Probably your mounted volume has not the `public` directory

[2020-10-21 10:45] vilarinholeo commented on #132
Thank you, it was my hesitation. No more mistakes

[2020-10-21 10:45] #132 closed

[2020-11-12 01:22] sshnuke3 opened #133 "failed to create laravel project"
[code]

[2020-11-12 11:30] carrodher commented on #133
When creating a new issue, a template like the below one appears where you can put some information that is useful for us in order to debug/reproduce the issue, please, can you fill that form?

There are different Laravel branches, that is why it's something important to know. In the same way, what are the steps to reproduce the issue? Did you perform any customization?

It's also important to kno

[2020-11-16 02:45] sshnuke3 commented on #133
Description
Creating laravel application failed

Steps to reproduce the issue:

[First Step]
mkdir ~/myapp && cd ~/myapp
[Second Step]
curl -LO https://raw.githubusercontent.com/bitnami/bitnami-docker-laravel/master/docker-compose.yml
[and so on...]
docker-compose up
Describe the results you received:
myapp_1    | Creating laravel application
myapp_1    | cp: cannot create regular file '/app/./.ed

[2020-11-16 10:21] miguelaeh commented on #133
Hi @sshnuke3 ,
The docker-compose is mounting the local directory as a volume. Please change the permissions of the local directory before the `docker-compose up` to `bitnami`.
[code]

[2020-11-23 22:41] RokSiEu commented on #97
I would reopen this issue as it was not fixed for all  tags as with config bellow, it still tries to connect to mariadb

**docker-compose.yml**
[code]

**Output**:

[2020-11-25 10:46] FraPazGal commented on #97
Hello @RokSiEu!

I tested changing the service name and modifyng the env `DB_HOST` and the `docker-compose up` will run correctly. Although is says `Connecting to mariadb at`, that "mariadb" is only the name used on the logs, but the database host is variable as you can see [here](https://github.com/bitnami/bitnami-docker-laravel/blob/c45aff3fb68e59381bd991262ec13ec26b8de59d/8/debian-10/rootfs/app

[2020-11-30 19:28] joetito1 commented on #84
@javsalgar Any update on this?

[2020-12-01 09:49] javsalgar commented on #84
Hi,

I am afraid it is still in our backlog. I forwarded it to the engineering team for prioritization.

[2020-12-11 08:15] #133 closed

[2020-12-21 08:18] rafariossaa commented on #84
Hi,
  We have made a new release where opcache is disabled.
  Could you give it a try ?.

[2020-12-21 23:56] turkmenkaan opened #135 "Php Version is Outdated"
In both laravel 7 and laravel 8 images, the required php version is +7.4.4 but the included one is 7.3.25. Therefore, myapp service fails to build.

This is the error I get after `docker-composer up`

[code]

[2020-12-22 02:34] turkmenkaan commented on #135
If you can verify this issue, I can open a PR on the relevant Dockerfile.

[2020-12-22 07:45] beltran-rubo commented on #135
Thanks for reporting it. It seems Laravel requires PHP >= 7.2.5 based on https://laravel.com/docs/7.x/installation and that is a requirement for one of the dependencies in your application. In any case we are working on updating it to use the latest PHP 7.4.x for Laravel and it should be released today.

[2020-12-22 14:12] beltran-rubo commented on #135
Latest versions of Laravel container image uses PHP 7.4.13:  7.30.1-debian-10-r50 and 8.5.5-debian-10-r11

[2020-12-22 14:12] #135 closed

[2020-12-28 11:01] baksosapi opened #136 "cannot create regular file '/app/./.editorconfig': docker run -p 3000:3000 -v `pwd`:/app --name lar bitnami/laravel"
Hi, I'm  trying to create app on MacOS 10.15.17

```docker run -p 3000:3000 -v `pwd`:/app --name lar bitnami/laravel```

but there is failed with **Permission denied**

[code]

[2020-12-29 16:35] rafariossaa commented on #136
Hi,
  You will need to give proper permissions to the app folder, for example:
[code]
  Could you check you have 775 for that directory ?

[2021-01-23 17:43] #136 closed

[2021-01-24 22:46] fdbatista opened #137 "Start Laravel container without database"
Hello.
This is not exactly a Feature Request, but I would like to know how can I start the Laravel container without it constantly trying to connect to MySQL.

I only need the application running, and having an useless MySQL container running makes no sense to me.

Thanks.

[2021-01-25 10:09] juan131 commented on #137
Hi @fdbatista

The container's **entrypoint** waits for a database by default, see:

- https://github.com/bitnami/bitnami-docker-laravel/blob/master/8/debian-10/rootfs/app-entrypoint.sh#L47
- https://github.com/bitnami/bitnami-docker-laravel/blob/master/8/debian-10/rootfs/app-entrypoint.sh#L91

However, this only happens when the command used to launch the container contains `php artisan serve`, s

[2021-01-26 01:58] fdbatista commented on #137
Hi, @juan131. Thanks for your response.

I want to run a single Docker container with the Laravel app in detached mode, so the `docker run --rm -it bitnami/laravel:8-debian-10 bash` command does not work for me. And the `-d` parameter makes the container exit automatically.

Maybe this is not the right place to ask, but what should I do? Creating my own image by building a custom Dockerfile taking

[2021-01-26 08:01] juan131 commented on #137
Hi @fdbatista

Building your own container is a possibility.
Another possibility will be using some command that waits forever, For instance:

[code]

Then, since your container is running, you can exec into it and run any desired command:?

[code]

[2021-01-27 00:57] fdbatista commented on #137
Hi @juan131 .
Actually I want the web server up and running, but without having to start a Docker container.
I started to play with your suggestions and ended up with this command:

[code]

I don't know if it is the best way, but I haven't been able to find another one.
Thanx a lot!

[2021-01-27 07:54] juan131 commented on #137
Hi @fdbatista

I think you can get a similar result without doing two concatenated commands. Try this (overwriting the entrypoint):

[code]

[2021-01-27 14:05] fdbatista commented on #137
Great!
I didn't  know how to override the entrypoint, this example does exactly what I want.
Thank you very much for your help!

Closing the issue now 👍

[2021-01-27 14:05] #137 closed

[2021-01-27 16:10] juan131 commented on #137
You're welcome @fdbatista ! Don't hesitate to let us know if you require further help.

[2021-02-22 06:40] ssst0n3 opened #138 "Questions about Docker Image Vulnerability Reporting"
Seems I have found a vulnerability in docker image bitnami/laravel.

But I do not find where to report it. Could you please tell me how to report this vulnerability?
Should I send the details to a specific email address? Or just file an issue on github(https://github.com/bitnami/bitnami-docker-laravel)? Or maybe I should report to mitre(cve) directly?

(Make the details public maby not a responsib

[2021-02-22 09:11] beltran-rubo commented on #138
Hi @ssst0n3, could you please email the details to security (at) bitnami [dot] com? We will review those details and get back to you as soon as possible, thanks.

[2021-02-23 08:01] ssst0n3 commented on #138
thank you, i've already sent an email to security@bitnima.com and security@vmware.com(follow the redirect by security@bitnami.com).

[2021-02-23 08:01] #138 closed

[2021-03-02 19:09] beltran-rubo opened #139 "Laravel APP_KEY is fixed in docker image bitnami/laravel"
**Description**

The file /tmp/app/.env is generated at the time that the docker image bitnami/laravel was built, and the value of APP_KEY is fixed under certain conditions. Although the APP_KEY will generated randomly each time we install laravel:

[code]

But if we build it as a docker image, the APP_KEY is a fixed value whenever we run it. This value is crucial for the security of the applicati

[2021-05-12 21:25] owensesaldo opened #141 "Memory size issue when installing packages"
**Description**

**Steps to reproduce the issue:**

1. run composer install laravel/ui or composer install laravelcollective/html

**Describe the results you received:**

Gives this error:
PHP Fatal error: Allowed memory size of 1610612736 bytes exhausted (tried to allocate 4096 bytes) in phar:///opt/bitnami/php/bin/composer.phar/src/Composer/DependencyResolver/RuleWatchGraph.php on line 52

Fatal

[2021-05-12 21:50] #141 closed

[2021-05-17 16:48] mathiasfernandez opened #142 "ERROR"
1. execute docker run -ti --rm -p 80:80 -v ${PWD}:/app bitnami/laravel:7

2. after that install laravels dependency my container finish and im not reciving an error code. Im not receving nothing

$ docker run -ti --rm -p 80:80 -v ${PWD}:/app bitnami/laravel:7

Welcome to the Bitnami laravel container
Subscribe to project updates by watching https://github.com/bitnami/bitnami-docker-laravel
Submit

[2021-05-18 12:24] #142 closed

[2021-06-06 01:45] debarshibasak commented on #114
i have the same issue on oracle cloud.

[2021-06-07 06:12] juan131 commented on #114
Hi @debarshibasak

Some questions:

- What version of the container are you using?
- Are you using Docker Compose to deploy the container? If so, please share the one you're using.
- Are you mounting a volume in the `/app` path? If so, could you run the command I recommended on [this response](https://github.com/bitnami/bitnami-docker-laravel/issues/114#issuecomment-531171350) and share the output

[2021-06-15 13:46] Juljan commented on #141
Hello,
Same issue. How did you solve it @owensesaldo ?

[2021-06-15 18:28] Juljan commented on #57
In case it can help, I solved it creating a Dockerfile whose content was :
[code]

Then, in you main docker-compose.yml file, a reference to this Dockerfile:

[code]

[2021-07-18 09:55] boosh opened #143 "Doesn't support sqlite"
**Description**
If I configure sqlite in the docker compose file it doesn't work:
[code]
The container just exits. Looking at `app-entrypoint.sh` it's because it always sets up the DB which tries to connect to a database by host and port.

**Steps to reproduce the issue:**

1. Download the `docker-compose.yml` file
2. Change the env vars to those in the description
3. Run `docker-compose up`

**De

[2021-07-19 07:47] pablogalegoc commented on #143
Hi @boosh,

I see you've already opened a PR, thank you! A teammate will take a look at it 🙂

[2021-07-30 20:15] runthis opened #145 "Browsersync"
**Description**

Awesome and easy setup you have here :-)

Having an issue with BrowserSync support. It appears as though, when using BrowserSync, the URL to visit (default localhost:3001) infinitely loads and does not complete. however the BrowserSync UI on port 3002 loads just fine. Any change I should make to get that to work? Setup is pretty standard, haven't made any real changes.

**Steps to

[2021-08-02 08:35] alvneiayu commented on #145
hi @runthis

Could you share with me your docker-compose configuration or your docker-run command, please? Just to reproduce the same scenario than you.

Thanks a lot

Álvaro

[2021-08-02 15:21] runthis commented on #145
@alvneiayu it is the default docker-compose.yml with no changes.

[2021-08-02 19:09] runthis opened #147 "PHP 8 support"
https://github.com/bitnami/bitnami-docker-laravel/blob/c7e036f98408080f5aff2d6c08d5078f2e1b0d13/8/debian-10/Dockerfile#L12

Can we get another option for Laravel 8 with PHP 8? Currently using `docker.io/bitnami/laravel:8`

[2021-08-03 07:12] migruiz4 commented on #147
Hi @runthis,

I'm sorry but we currently only release Laravel 8 with PHP 7.4. To use it with PHP 8 you would need to build a custom image using Laravel's [Dockerfile](https://github.com/bitnami/bitnami-docker-laravel/blob/master/8/debian-10/Dockerfile), but replacing:
[code]

[2021-08-04 08:49] alvneiayu commented on #145
hi @runthis

Could you try to access using http://127.0.0.1:3001 instead of http://localhost:30001, please? I reproduced your problem and I think that it is a problem with the proxy configuration (I am not expert in Laravel).

Also, I found this stackoverflow case reproducing the same problem than you:

https://stackoverflow.com/questions/49691857/laravel-mix-browsersync-infinite-loading-out-of-th

[2021-08-05 17:25] runthis commented on #147
@migruiz4 Thank you. Keep in mind PHP 7.4 active support ends in 3 months and security updates end in 1 year and 3 months. It might be worth getting ahead with a PHP 8 version :-)

[2021-08-05 18:00] #147 closed

[2021-08-25 01:22] #145 closed

[2021-08-30 09:57] boosh opened #148 "Make upgrading Lavavel dependencies optional"
I'm building this container in a pipeline before deploying. I'm baking in all the dependencies. However, after the container goes live it won't serve traffic for several minutes because it runs `composer update`. Please add a way of making this optional.

**Steps to reproduce the issue:**

1. Run container. It will run `composer update` if dependencies are already present.

**Describe the results

[2021-08-31 13:29] marcosbc commented on #143
Fix merged in #144

[2021-08-31 13:29] #143 closed

[2021-08-31 20:11] marcosbc commented on #148
Hi, [`bitnami/laravel:8.6.1-debian-10-r7`](https://github.com/bitnami/bitnami-docker-laravel/commit/1aac3dd67e1943c85553093e29a768d08340c238) was just released.

[2021-08-31 20:11] #148 closed

[2021-08-31 20:14] boosh commented on #148
That's great, thanks

[2021-09-11 21:08] ZsgsDesign commented on #139
If users really want to fix the value of APP_KEY in production environment, isn't that better to add a `APP_KEY`  environment variable via env option or through `docker-compose.yml` when started the container? I believe it is not a bug but how maintainers should maintain their docker container.

[2021-09-13 08:09] beltran-rubo commented on #139
Hi @ZsgsDesign, yes that could be an option. In this case it will be generated **only** if the app folder does not exist, only when the sample laravel app is generated.

https://github.com/bitnami/bitnami-docker-laravel/blob/e86fa12f0edfd7d9f80826c64a385b7f3ee86d45/8/debian-10/rootfs/app-entrypoint.sh#L90

[2021-09-13 08:09] #139 closed

[2021-11-15 21:07] KVeschgini opened #152 "Error on the first docker-compose up in an empty directory"
**Description**
When running docker-compose up for in an empty folder (except the docker-compose.yaml file) I get the following error message:
`myapp_1    | cp: preserving times for '/app/.': Operation not permitted`
I tried this on two different PCs running Windows 10 and Windows 11.  On a second attempt everything seems to run normally.

**Steps to reproduce the issue:**

In a windows terminal r

[2021-11-16 08:27] pablogalegoc commented on #152
Hi @KVeschgini,

You may need to uncomment:
https://github.com/bitnami/bitnami-docker-laravel/blob/9e5de812e34a64cf867b2fa177dd31b2daad0895/docker-compose.yml#L27
Reference: #103

[2021-12-07 01:25] #152 closed

[2021-12-09 02:42] ekonomicron opened #153 "error when installing in docker"
- host os: windows 11
- docker version: docker desktop 4.3.0
- output of docker info:

[code]

- version of this container: `bitnami/laravel:latest`
- command used to run the container:

[code]

below is the docker-compose logs

[code]

[2021-12-10 08:30] juan131 commented on #153
Hi @ekonomicron

It seems you're mounting your Lavarel project from your local directory:

[code]

There must sth odd in your project since Laravel is complaining about some missing PHP files and the `composer update` command fails, see:

- https://github.com/bitnami/bitnami-docker-laravel/blob/master/8/debian-10/rootfs/app-entrypoint.sh#L102

Please ensure that your project is fine and that `comp

[2021-12-26 11:24] carrodher commented on #84
Hi, unfortunately, if the issue is not solved in recent versions means the task is still on our backlog and there are no plans to work on it in the short/middle term.

In the same way, please, [note the Bitnami team is not actively working on new features/improvements nor providing support through GitHub Issues for this project](https://github.com/bitnami/bitnami-docker-laravel#community-supported

[2021-12-26 11:24] carrodher commented on #57
Hi, unfortunately, if the issue is not solved in recent versions means the task is still on our backlog and there are no plans to work on it in the short/middle term.

In the same way, please, [note the Bitnami team is not actively working on new features/improvements nor providing support through GitHub Issues for this project](https://github.com/bitnami/bitnami-docker-laravel#community-supported

[2022-01-01 01:25] #153 closed

[2022-01-01 01:25] #84 closed

[2022-01-01 01:26] #57 closed

[2022-01-24 09:08] 1ocate opened #156 "start from Mac Docker Desktop takes long time."
**Description**

Hi thank for everything.

When I using from Mac with docker-desktop.
It is start up take longtime.

<img width="851" alt="Screen Shot 2022-01-24 at 3 47 14 PM" src="https://user-images.githubusercontent.com/29521447/150753893-38ca4d9d-5c24-47d6-94e8-96aadc53db25.png">

can see in screenshot in yellow box.

My docker version is

<img width="494" alt="Screen Shot 2022-01-24 at 4 16

[2022-01-24 15:34] javsalgar commented on #156
Hi,

Thanks for the PR! The team will take a look

[2022-01-26 19:05] norellanac opened #158 "Permission denied inside the docker container"
**Description**

 Permission denied inside the docker container

**Steps to reproduce the issue:**

$ curl -LO https://raw.githubusercontent.com/bitnami/bitnami-docker-laravel/master/docker-compose.yml
$ docker-compose up

**Describe the results you received:**

Creating laravel application
myapp_1    | cp: cannot create regular file '/app/./.editorconfig': Permission denied
myapp_1    | cp: canno

[2022-01-26 19:33] norellanac commented on #158
my bad,
fixed it  ...

Update the dowloaded docker  image
delete existing containers, and create them again.

[code]

[2022-01-26 19:33] #158 closed

[2022-02-05 16:13] lamualfa opened #159 "How to run `composer install` before `php artisan serve`?"
![image](https://user-images.githubusercontent.com/39755201/152649208-d9c23351-840c-47df-8271-02bff90699d0.png)

Error when running the laravel project using bitnami laravel image. maybe the error occurs because I haven't run `composer install` before. I didn't run it because I didn't want to install PHP outside the docker container.

The question is, is there a way to run `composer install` befor

[2022-02-07 07:53] carrodher commented on #159
Please, [note the Bitnami team is not actively monitoring GitHub Issues for this project](https://github.com/bitnami/bitnami-docker-laravel#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being closed after 5 days.

If you would like to contribute to this container image by f

[2022-02-15 01:28] #156 closed

[2022-02-17 00:22] runthis opened #160 "Operating system running as root?"
### Name and Version

bitnami/laravel:8

### What steps will reproduce the bug?

Using docker desktop, with WSL.

It appears composer and possibly other commands (such as updating a vendor) create and modify those folders/files as "root". As an example

`docker-compose exec laravel composer update`

This appeared to happen only when using the `image: docker.io/bitnami/laravel:8` in the docker file

[2022-02-17 09:19] carrodher commented on #160
This container as it's oriented to development is a `root` container as opposed to other Bitnami containers that are oriented to production and are developed as `non-root` containers

[2022-02-17 10:51] runthis commented on #160
@carrodher thanks for the reply ❤️. This didn't actually appear to be the case until most recently. Any insight into the change?

[2022-02-18 07:00] carrodher commented on #160
Those changes were implemented at https://github.com/bitnami/bitnami-docker-laravel/commit/d575b665abe1940f135357fde034b6464858650a as part of the migration from a private initialization logic based on nami (NodeJS) to publicly available bash script initialization logic.

[2022-02-27 21:40] kooroshh commented on #159
[code]

[2022-03-08 16:02] IncrediblePony opened #161 "Ubuntu 21.10 user creation in image not making connection to local machine"
### Name and Version

bitnami/laravel

### What steps will reproduce the bug?

In Ubuntu 21.10 when having a fresh install of docker and docker compose I downloaded the docker-compose.yml file as described on docker hub. The docker container runs when the command `docker compose up` has been issued.

When running `docker exec <myappname> php artisan make:seed MyTestSeeder` the file is created at t

[2022-03-09 07:15] carrodher commented on #161
Please, [note the Bitnami team is not actively monitoring GitHub Issues for this project](https://github.com/bitnami/bitnami-docker-laravel#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being closed after 5 days.

If you would like to contribute to this container image by f

[2022-03-09 10:02] IncrediblePony commented on #161
https://github.com/aschmelyun/docker-compose-laravel/blob/main/docker-compose.yml
https://github.com/aschmelyun/docker-compose-laravel/blob/main/dockerfiles/nginx.dockerfile

An example on how to do this.

[2022-03-14 11:43] IncrediblePony commented on #161
A further update. I have now managed to "circumvent" the issue, but I still do not think that this should be the default behaviour for the container. It still should be set up so that if a $USER:$USER is specified in the `docker-compose.yml` file then run a script inside the container adding the user by the hosts username and group. If it's two id's that specified then create a user with those ids

[2022-03-20 01:29] #159 closed

[2022-04-04 01:32] #161 closed

[2022-05-26 11:29] daprela opened #162 "When creating a new project in a different folder, the project is not created"
### Name and Version

bitnami/laravel:9

### What steps will reproduce the bug?

1. Docker desktop for Windows 10
2. Laravel standard configuration with standard docker-compose file as provided
3. run docker-compose up
4. The bitnami container cannot start because there aren't any Laravel files

### What is the expected behavior?

When I create a new project folder I expect to have new containers

[2022-05-27 07:59] rafariossaa commented on #162
Please, [note that the Bitnami team is not actively monitoring GitHub Issues for this project](https://github.com/bitnami/bitnami-docker-laravel#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale, being closed after 5 days.
If you would like to contribute to this container image

[2022-05-28 20:57] beeards opened #163 "Failed to resolve 'mariadb'"
### Name and Version

bitnami/laravel:latest

### What steps will reproduce the bug?

`.Dockerfile`

[code]
`.gitlab-ci.yml` _Note: .Dockerfile is the container Pushed to Hub_

[code]

`.env.example`

[code]

`bootstrap/app.php`

[code]

`config/database.php`

[code]

`composer.json` _Note: require "jenssegers/mongodb"_

[code]

`database/migrations/create_users_collection.php`

[code]

### What i

[2022-05-29 06:21] carrodher commented on #163
Please, [note that the Bitnami team is not actively monitoring GitHub Issues for this project](https://github.com/bitnami/bitnami-docker-laravel#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale, being closed after 5 days.

If you would like to contribute to this container imag

[2022-05-29 10:08] beeards commented on #163
I've seen in [laravel-env.sh](https://github.com/bitnami/bitnami-docker-laravel/blob/master/9/debian-10/rootfs/opt/bitnami/scripts/laravel-env.sh) the Database configuration

\#L69 [`export LARAVEL_DATABASE_HOST="${LARAVEL_DATABASE_HOST:-mariadb}"`](https://github.com/bitnami/bitnami-docker-laravel/blob/master/9/debian-10/rootfs/opt/bitnami/scripts/laravel-env.sh#L69)

Is there a way to update the

[2022-05-30 16:41] beeards commented on #163
_In the meantime I'll go with `php:8.1-fpm-alpine`._

[2022-06-04 19:46] fbc commented on #120
This is still occurring for me with :
image: bitnami/laravel:6.0.2

[2022-06-04 20:39] carrodher commented on #120
Please, [note that the Bitnami team is not actively monitoring GitHub Issues for this project](https://github.com/bitnami/bitnami-docker-laravel#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale, being closed after 5 days.
If you would like to contribute to this container image

[2022-06-18 01:32] #162 closed

[2022-06-21 01:31] #163 closed

[2022-07-06 09:35] abbasfisal opened #164 "Add Redis , Mysql"
### Name and Version

Redis , Mysql

### What is the problem this feature will solve?

the problem is most project needs mysql and redis and your docker-compose not solving this

### What is the feature you are proposing to solve the problem?

i suggest that add the mysql and redis to the docker-composer , bcz most used db and cache is mysql, redis

### What alternatives have you considered?

_No

[2022-07-06 10:48] carrodher commented on #164
Please, [note that the Bitnami team is not actively monitoring GitHub Issues for this project](https://github.com/bitnami/bitnami-docker-laravel#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale, being closed after 5 days.

If you would like to contribute to this container imag

[2022-07-27 01:31] #164 closed